* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Britney';
    src: url('fonts/Britney-Variable.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #C3C98D;
    --secondary-color: #33233F;
    --text-color: #DBD8D2;
    --background-color: #E0E0DC;
    --middle-color: #80B9B1;
    --third-color: #638773;
    --fourth-color: #dbd8d2;
    --sixth-color: #94C8B4;

    /* Font sizes */
    --paragraph-text-size: 1.125rem; /* 18px */
    --eighty-pixel-font-size: 5rem; /* 80px */
    --fifty-pixel-font-size: 3.125rem;
    --ceve-pixel-font-size: 7.5rem; /* 120px */
    --thirty-pixel-font-size: 1.875rem; /* 30px */
    --twenty-pixel-font-size: 1.25rem; /* 20px */
    --ten-pixel-font-size: 0.625rem; /* 10px */
    --three-hundred-eight: 19.25rem; /* 308px */
    --services-navbar-height: 3.75rem; /* 50px */
    --services-navbar-width: 26.5rem; /* 100% */

    /* Font families */
    --font-yeseva: 'Yeseva One', sans-serif;
    --font-send-flowers: 'Send Flowers', sans-serif;
    --font-helvetica: 'Helvetica', sans-serif;
    --font-britney: 'Britney', sans-serif;
}

#animation1 {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
#animation2 {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
#animation3 {
    width: 320px;
    height: 200px;
    margin: 0 auto;
}

body {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
}

a {
    list-style: none;
    text-decoration: none;
}

header {
    width: 80.5%;
    height: auto;
    padding: 20px 5vw;
    background-color: var(--secondary-color);
    border-radius: 20px;
    z-index: 1000;
    position: fixed;
    top: 1.825rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease, display 1s ease-in;
}

/* Hide the header when scrolling down */
.header-hidden {
    transform: translate(-50%, -100%); /* Move straight up */
    opacity: 0;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-icon {
    width: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 2px;
}

/* Transform lines into a cross when active */
.menu-icon.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: var(--text-color);
}

nav ul li a {
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}

.logo {
    font-family: 'Send Flowers', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
}

.header-mobile nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 20px;
}

.header-mobile {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
}

/* When active */
.header-mobile.active {
    margin-top: 2rem;
    opacity: 1;
    max-height: 500px; /* Adjust as needed */
}

section {
    width: 80.5%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: auto;
}

.home-hero {
    background-color: var(--secondary-color);
    height: 74vh;
    border-radius: 30px;
    margin: auto;
}

.home-hero-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 5rem;
}

.home-hero-header {
    font-family: var(--font-yeseva);
    font-size: var(--eighty-pixel-font-size);
    color: var(--primary-color);
}

.home-hero-header span {
    font-family: var(--font-britney);
}

.home-hero-content-about {
    font-family: var(--font-helvetica);
    font-size: var(--paragraph-text-size);
    color: var(--background-color);
    margin-top: 2rem;
    line-height: 1.5;
}

.home-hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background-color: var(--primary-color);
    height: 75vh;
}

.home-about-image {
    width: 50%;
    height: 100%;
}

.home-about-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}

.home-about-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 5rem;
    font-family: var(--font-helvetica);
    width: 50%;
    flex-direction: column;
    gap: 2rem;
}

.home-about-header {
    font-family: var(--font-yeseva);
    font-size: var(--fifty-pixel-font-size);
    color: var(--secondary-color);
    align-self: flex-start;
}

.home-about-content-about {
    font-family: var(--font-helvetica);
    align-self: flex-start;
    text-align: justify;
    line-height: 1.5;
    color: var(--secondary-color);
}

.home-services-header {
    font-family: 'Yeseva One', sans-serif;
    font-size: var(--fifty-pixel-font-size);
    color: var(--secondary-color);
    letter-spacing: -2px;
    line-height: 1.2;
    position: relative;
}

.home-services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;
    flex-direction: column;
    gap: 2.7rem;
    margin-top: 4rem;
}

.home-services-header {
    font-family: 'Yeseva One', sans-serif;
    font-size: var(--fifty-pixel-font-size);
    color: var(--secondary-color);
    letter-spacing: -2px;
    line-height: 1.2;
    position: relative;
}

.home-services-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.home-services-card {
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    border-radius: 20px;
    transition: all 0.5s;
    padding: 30px;
}

.home-services-card:hover {
    transform: rotate(5deg);
}

.card-number {
    font-size: var(--ceve-pixel-font-size);
    font-family: 'Yeseva One', sans-serif;
    letter-spacing: -0.5;
}

.home-services-card-title {
    top: -13%;
    position: relative;
    font-family: 'Yeseva One', sans-serif;
    font-size: var(--trente-pixel-font-size);
    padding: 20px;
    margin-bottom: 2rem;
}

.home-services-card-title::after {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    width: 50px;
    height: 4px;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.card2 .home-services-card-title::after {

    background-color: var(--secondary-color);
}

.hsct1 {
    color: var(--text-color);
}


.home-services-card-content {
    width: 269px;
    line-height: 1.6;
    padding: 5px;
    text-align: center;
    top: -13%;
    position: relative;
}

.card1 {
    background-color: var(--secondary-color);
}

.n1 {
    background: linear-gradient(to bottom,#473059, #473059, #473059, transparent, transparent);
    -webkit-background-clip: text;
    color: transparent;
}

.home-services-card-1 {
    color: var(--text-color);
}

.card2 {
    background-color: var(--middle-color);
}

.n2 {
    background: linear-gradient(to bottom,#74ABA4, #74ABA4, #74ABA4, transparent, transparent);
    -webkit-background-clip: text;
    color: transparent;
}

.home-services-card-2 {
    color: var(--secondary-color);
}

.hsct2 {
    color: var(--secondary-color);
}

.card3 {
    background-color: var(--third-color);
}

.n3 {
    background: linear-gradient(to bottom,#557863, #557863, #557863, transparent, transparent);
    -webkit-background-clip: text;
    color: transparent;
}

.home-services-card-3 {
    color: var(--text-color);
}

.hsct3 {
    color: var(--text-color);
}

.home-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding-top: 60px;
    gap: 2.7rem;
    margin-top: -2rem;
}

.home-portfolio-header {
    font-family: 'Yeseva One', sans-serif;
    font-size: var(--fifty-pixel-font-size);
    color: var(--secondary-color);
    letter-spacing: -2px;
    line-height: 1.2;
    position: relative;
}

.home-portfolio-container {
    height: 100%;
    width: 100%;
    height: 74vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--fourth-color);
    border-radius: 20px;
}

.home-portfolio-slideshow{
    height: 100%;
    width: 50%;
}

.home-portfolio-slideshow img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.home-portfolio-text {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2.7rem;
}

.home-portfolio-text-header {
    font-family: 'Yeseva One', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
    text-align: left;
    align-self: flex-start;
    width: 70%;
    letter-spacing: -2px;
    word-spacing: 0.05rem; 
}

.home-portfolio-text-content{
    color: var(--secondary-color);
    line-height: 1.5;
    font-weight: 100;
    letter-spacing: -0.5px;
    align-self: flex-start;
}

.home-personal-portfolio {
    height: 74vh;
    display: flex;
    background-color: var(--fourth-color);
    border-radius: 20px;
    margin-top: 1rem;
}

.home-personal-portfolio-slideshow {
    height: 100%;
    width: 50%;
}

.home-personal-portfolio-slideshow img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.home-personal-portfolio-text {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 2.7rem;
}

.secondary-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 154px;
    height: 40px;
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--primary-color);
    border-radius: 30px;
    align-self: flex-start;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}

.secondary-button:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

.secondary-button:hover p{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.secondary-button:hover .ph-arrow-right{
    color: var(--secondary-color);
}

.hero-1 {
    margin-top: 7rem;
}

.section {
    margin-bottom: var(--ten-pixel-font-size);
}

@media screen and (max-width: 280px) {
    .home-hero-header {
        font-size: 30px!important;
    }
}

@media screen and (max-width: 300px) {
    .home-services-card {
        padding: 10px!important;
    }

    #animation1 {
        width: 150px!important;
        height: 75px!important;
        margin: 0 auto!important;
    }
    #animation2 {
        width: 150px!important;
        height: 75px!important;
        margin: 0 auto;
    }
    #animation3 {
        width: 80px!important;
        height: 50px!important;
        margin: 0 auto!important;
    }
    .home-services-card-content {
        font-size: 10px!important;
    }
}

@media screen and (min-width: 281px) and (max-width: 330px) {
    .home-hero-content-text {
        padding: 1rem;
    }

    .home-hero-header {
        font-size: 50px!important;
    }
}

@media screen and (max-width: 400px) {
    .home-hero-content-text {
        padding: 2rem;
    }
    .home-services-card {
        padding: 10px!important;
    }

    .header-font {
        font-size: 2rem!important; /* 16px */
        align-self: flex-start;
    }

    #animation1 {
        width: 300px;
        height: 150px;
        margin: 0 auto;
    }
    #animation2 {
        width: 300px;
        height: 150px;
        margin: 0 auto;
    }
    #animation3 {
        width: 160px;
        height: 100px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    header {
        top: 0.5rem;
    }

    header, section {
        width: 97%;
    } 

    .home-hero {
        height: auto;
    }

    .home-hero-content-text {
        padding: 3rem;
        align-items: flex-start;
        text-align: left;
    }

    .home-hero-header {
        align-self: flex-start;
        font-size: 60px; /* 4.375rem */
    }

    .home-hero-content-about {
        font-size: 1rem; /* 16px */
    }

    .hero-1 {
        margin-top: 5.5rem;
    }
}

@media screen and (max-width: 670px) {
    .header-font {
        font-size: 2.5rem; /* 24px */
        margin-bottom: -2rem;
    }
    
}

@media screen and (max-width: 731px) {
    .home-services-cards{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 805px) {
    .home-portfolio-container {
        flex-direction: column;
        margin-top: 2rem;
        height: auto;
    }

    .home-portfolio-slideshow{
        width: 100%;
        height: 50%;
    }
    
    .home-portfolio-slideshow img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    
    .home-portfolio-text {
        width: 100%;
        height: 50%;
        padding: 3rem 2rem;
    }

    .home-personal-portfolio {
        flex-direction: column;
        margin-top: 1rem;
        height: auto;
    }
    .home-personal-portfolio-slideshow {
        width: 100%;
        height: 50%;
        order: 1;
    }
    
    .home-personal-portfolio-slideshow img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
    }
    
    .home-personal-portfolio-text {
        width: 100%;
        height: 50%;
        order: 2;
        padding: 2rem;
    }
}

@media screen and (max-width: 839px) {
    .home-hero-about {
        flex-direction: column;
        height: auto;
    } 

    .home-about-image {
        height: 30%;
    }

    .home-about-content-text {
        height: 70%;
        padding: 5rem;
        gap: 1rem;
    }

    .home-about-image, .home-about-content-text{
        width: 100%;   
    }
    
    .home-about-image img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }

    
}

@media screen and (min-width: 839px) and (max-width: 865px) {
    .home-about-content-text .secondary-button {
        display: none;
    }
}

@media screen and (max-width: 959px) {
    .header-main nav{
        display: none; /* Hide the header on mobile */
    }

    .menu-icon {
        display: flex; /* Show the menu icon on mobile */
    }

    .home-services {
        margin-top: 20rem;
    }

    .home-hero-content-text {
        padding: 2rem;
        align-items: flex-start;
        text-align: left;
    }

    .home-hero-header {
        align-self: flex-start;
        font-size: 60px; /* 4.375rem */
    }

    .home-services {
        margin-top: 1rem;
    }   
}

@media screen and (max-width: 1061px) {
    .home-about-header {
        font-size: 2.5rem; /* 48px */
    }

}

@media screen and (min-width: 731px) and (max-width: 1230px)  {
    .home-services-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1230px)  {
    .home-services {
        height: auto;
    }
}

@media screen and (max-width: 1427px) {
    .home-about-content-text {
        padding: 1rem 2rem;
        gap: 1rem;
    }
    
}


